:root {
  --main-text-color: #0c1845;
  --accent-text-color: #ff41ed;
  --main-font: "Noto Serif Telugu", serif;
  --accent-font: "Roboto Mono", monospace;
  --accent-color: ;
}
body {
  background-color: #f1f1f1;
}

h1 {
  text-align: right;
  color: var(--main-text-color);
}

h1 {
  font-size: 96px;
  margin: 250px 50px 0px 0px;
  font-family: var(--main-font);
  font-weight: 400;
}

h3 {
  text-align: right;
  font-size: 23px;
  letter-spacing: 0.1rem;
  font-family: var(--accent-font);
  font-weight: 300;
  color: var(--accent-text-color);
  margin: 0 50px;
}
p {
  font-family: var(--accent-font);
}
h2 {
  font-family: var(--main-font);
}
.buttons {
  justify-content: right;
}
.contact-home-btn {
  margin: 60px 50px 20px;
  padding: 15px 40px;
  border-radius: 5px;
  border: var(--main-text-color) solid 0.5px;
  text-decoration: none;
  background-color: var(--main-text-color);
  color: #f1f1f1;
}
.contact-home-btn:hover {
  border: var(--main-text-color) solid 0.5px;
  color: var(--accent-text-color);
  background-color: #f1f1f1;
}

.nav-color-text {
  color: var(--main-text-color);
  font-family: var(--accent-font);
  font-size: 15px;
  margin-left: 20px;
}

#no-active {
  text-decoration-color: var(--accent-text-color);
  text-decoration-line: line-through;
  text-decoration-thickness: 0.15rem;
}

.img-fluid {
  max-width: 80%;
  height: auto;
}

.container {
  margin-top: 100px;
}

.description-button {
  display: block;
  padding: 15px 20px;
  margin: 20px 100px 20px 0;
  border: var(--main-text-color) solid 0.5px;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--main-text-color);
  color: #f1f1f1;
}

.description-button:hover {
  border: var(--main-text-color) solid 0.5px;
  color: var(--accent-text-color);
}

@media (max-width: 800px) {
  h1 {
    font-size: 42px;
  }
  h3 {
    font-size: 17px;
  }
  #image-app {
    display: none;
  }
}

.conteiner-about-page {
  text-align: left;
}
.about-page-h2 {
  font-size: 17px;
  font-family: var(--accent-font);
  color: var(--accent-text-color);
}
.about-page-h1 {
  margin: 10px 0 0;
  font-size: 42px;
  text-align: left;
}
.about-page-p {
  color: var(--main-text-color);
}
.my-photo-about-page {
  width: 60%;
  height: auto;
  border-radius: 4px;
  margin-left: 100px;
}
